@model IEnumerable<ShiftReports.Models.Plant>

@{
    ViewBag.Title = "Plant Details";
}

<h2>Plant Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
       <th>
           @Html.ActionLink("Plant Name", "Index", new { sortOrder = ViewBag.NameSortParm })
       </th>
        <th>
            @Html.ActionLink("Mix Rate Per Hour", "Index", new { sortOrder = ViewBag.MRPHSortParm})
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MixRatePerHour)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlantID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlantID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlantID })
        </td>
    </tr>
}

</table>
